*{
    box-sizing: border-box;
 }
 body{
   font-size: 14px;
   margin: 0;
 }
 .container-fluid{
   width: 100%;
   padding: 0 0;
 }
 .t-banner{
    text-align: center;
    background-color: #AC0911;
    margin: 0 auto;
}
img{
   max-width: 100%;
   height: 40px;
}
.row{
    display: flex;
}
.float-left{
    display: flex;
}
header{
    background-color:#4a90e2;
    height: 50px;
}
header .dmx-logo {
    line-height: 30px;
    background-position: 0 0;
    width: 174px;
    height: 32px;
    display: block;
    margin-top: 10px;
}
.icon-dmx {
    background-image: url(../images/icondesktop@1x.v202007011410.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
header .box-modal{
    float: left;
    background: #2878d7;
    height: 35px;
    padding: 0 5px;
    border-radius: 4px;
    margin: 7px 0 7px 7px;
}
.box-modal b{
    font-size: 10px;
    color: #bae8ff; 
    padding: 2px 0;
    display: block;
    height: 11px;
}
.box-modal a{
    font-size: 10px;
    color: #ffff;
    font-weight: bold;
    width: 120px;
}
a{
    color: #007bff;
    padding-right: 10px !important;
    text-decoration: none;
    background-color: transparent;
}
input{
    margin-top: 5px;
    margin-left: 15px;
}
.icon-search{
    background: #e9ecef;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 8px 12px 8.5px 9px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff !important;
    outline: 0;
    box-shadow: none !important;
}

.float-right {
    display: flex;
}
.ref-link {
    color: #fff !important;
    margin: 12px;
    font-size: 15px;
    font-weight: bold;
}
.ref-a {
    margin: 3px !important;
    margin-left: 20px !important;
    font-size: 15px;
    font-weight: bold;
}
.ref-a p {
    font-weight: 100;
    color: #E8E8E8;
}
.icon-shopping i{
    color: #fff;
    font-size: 26px;
    margin-top: 11px;
    margin-left: 5px;
}
nav{
   box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
   background: rgb(255, 255, 255);
}
.container-nav{
    max-width: 1140px;
    height: 54px;
    margin: 0 auto;
    font-size: 16px;
}
.nav-tabs{
    display: flex;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.nav-tabs li:not(:last-child){
    border-right: 1px solid #ccc;
    padding: 0 15px;
}
a{
    padding-right: 20px;
}
.active{
    padding-right: 10px;
    font-weight: bold;
}
.container-main{
    max-width: 1140px;
    margin: 0 auto;
}
.main-row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.list-item-nav{
    background-color: #fff;
    border-left: 1px solid #ddd ;
    box-shadow: 3px 0 4px 0 rgba(0,0,0,.2);
    margin-top: -1px;
    width: 250px;
    margin-left: -2px;
    position: relative;
    padding-right: 18px;
    padding-left: 18px;
}
.nav-item a{
    color: #333;
    font-size: 14px;
}
.sp-menu{
border-bottom: 1px solid #ccc;
    margin: 0 10px;
    padding: 5px 0;
    position: relative;
}
.sp menu .icon-tivi{
    background-position: 0 -156px;
}
li{
    list-style-type: none;
}
.col-6{
    width: 633px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.col-6 img{
    max-width: 100%;
    height: 348%;
}
.carousel{
    position: relative;
}
.carousel-inner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.carousel-item{
    position: relative;
    width: 100%;
    display: none;
    float: left;
    margin-right: -100px;
}
.carousel-item .active{
    display: block;
}
.carousel-indicators{
     width: 100%;
    bottom: -60px;
    background: #fff;
    height: 60px;
    margin: 0;
}
.carousel-indicators li{
    width: calc(100%/4);
    height: unset;
    text-indent: unset;
    border-top: unset;
    border-bottom: unset;
    opacity: unset;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}
.carousel-indicators li span{
    display: block;
    border-right: 1px solid #ccc;
}
.news-banner{
    margin-left: 42px;
}
.news li{
    margin-top: 10px;
}
.news-banner img{
    margin-bottom: 10px;
}
.main-section ul{
    display: flex;
    padding-left: 0px;
}
.main-section .list-product{
    border-width: 0px 10px 10px;
}
.list-product li{
    width: 16.6667%;
    height: 350px;
    padding: 25px 10px 15px;
    border-right: 1px solid #ccc;
}
.info-product .product-avatar{
    height: 155px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.info-product .product-avatar img{
    height: 150px;
}
.info-product .product-deal img{
   width: 140px;
   height: 20px;
   margin-bottom: 8px; 
}
.info-product .product-name{
    height: 40px;
    padding-bottom: 48px;
}
.info-product .product-price{
    color: red;
    font-size: 18px;
}
.info-product .product-linethrough{
    text-decoration: line-through;
}
.info-product img{
   max-width: 100%;
}
.shock-price{
    margin-top:5px
}
.price{
    width: 100%;
    height: 76px;
}
.list-product{
    background: #fff;
    border: 10px solid #132f86;
    max-height: 375px;
}
footer{
    background-color: #fff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1140px;
    margin: 0 auto;
}
.container-footer{
    max-width: 1140px;
}
.row-footer{
    display: flex;
}